Lebron James points 2003-2023

In [24]:
#%pip install pandas
#%pip install kaggle
#%pip install openpyxl
import zipfile
import pandas as pd
import kaggle
import openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 4.7 MB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [37]:
!kaggle datasets download -d zhikchen/lebron-james-regular-season-games-2003-current

Dataset URL: https://www.kaggle.com/datasets/zhikchen/lebron-james-regular-season-games-2003-current
License(s): ODC Public Domain Dedication and Licence (PDDL)
Downloading lebron-james-regular-season-games-2003-current.zip to /Users/arshpatel/Desktop/Projects/My notebooks
  0%|                                               | 0.00/45.5k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 45.5k/45.5k [00:00<00:00, 4.85MB/s]

In [38]:
zipfile_name = "lebron-james-regular-season-games-2003-current.zip"
with zipfile.ZipFile(zipfile_name, "r") as file:
    file.extractall()

In [67]:
lebron = pd.read_csv("Lebron_James_All_Regular_Season_Stats.csv")

In [68]:
lebron.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1421 entries, 0 to 1420
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   G         1421 non-null   int64
 1   Date      1421 non-null   object
 2   Age       1421 non-null   object
 3   Tm        1421 non-null   object
 4   Location  700 non-null    object
 5   Opp       1421 non-null   object
 6   Result    1421 non-null   object
 7   GS        1421 non-null   float64
 8   MP        1421 non-null   object
 9   FG        1421 non-null   int64
 10  FGA       1421 non-null   int64
 11  FG%       1421 non-null   float64
 12  3P        1421 non-null   int64
 13  3PA       1421 non-null   int64
 14  3P%       1381 non-null   float64
 15  FT        1421 non-null   int64
 16  FTA       1421 non-null   int64
 17  FT%       1407 non-null   float64
 18  ORB       1421 non-null   int64
 19  DRB       1421 non-null   int64
 20  TRB       1421 non-null   int64
 21  AST       1421 non-null   int64
 22  STL       1421 non-null   int64
 23  BLK       1421 non-null   int64
 24  TOV       1421 non-null   int64
 25  PF        1421 non-null   int64
 26  PTS       1421 non-null   int64
 27  GmSc      1421 non-null   float64
 28  +/-       1420 non-null   float64
dtypes: float64(6), int64(16), object(7)
memory usage: 322.1+ KB

In [41]:
lebron.shape
#1421 rows, 29 columns

(1421, 29)

In [69]:
lebron['Location'] = lebron['Location'].replace({'@':'AWAY'}).fillna('HOME')
lebron

,G,Date,Age,Tm,Location,Opp,Result,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2003-10-29,18-303,CLE,AWAY,SAC,L (-14),1.0,42:50,12,...,4,6,9,4,0,2,3,25,24.7,-9.0
1,2,2003-10-30,18-304,CLE,AWAY,PHO,L (-9),1.0,40:21,8,...,10,12,8,1,0,7,1,21,14.7,-3.0
2,3,2003-11-01,18-306,CLE,AWAY,POR,L (-19),1.0,39:10,3,...,4,4,6,2,0,2,3,8,5.0,-21.0
3,4,2003-11-05,18-310,CLE,HOME,DEN,L (-4),1.0,41:06,3,...,9,11,7,2,3,2,1,7,11.2,-3.0
4,5,2003-11-07,18-312,CLE,AWAY,IND,L (-1),1.0,43:44,8,...,5,5,3,0,0,7,2,23,9.0,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,51,2023-04-02,38-093,LAL,AWAY,HOU,W (+25),1.0,29:21,8,...,8,10,11,0,1,1,1,18,19.4,23.0
1417,52,2023-04-04,38-095,LAL,AWAY,UTA,W (+2),1.0,38:28,14,...,5,5,6,1,1,5,2,37,25.3,-7.0
1418,53,2023-04-05,38-096,LAL,AWAY,LAC,L (-7),1.0,35:06,13,...,8,8,7,1,1,6,0,33,26.4,-10.0
1419,54,2023-04-07,38-098,LAL,HOME,PHO,W (+14),1.0,29:21,6,...,6,6,6,0,0,5,1,16,5.3,11.0
1420,55,2023-04-09,38-100,LAL,HOME,UTA,W (+11),1.0,33:13,13,...,5,6,6,1,1,2,0,36,29.8,20.0

In [70]:
lebron['Margin'] = lebron['Result'].str.extract(r'\(([-+]?\d+)\)')
lebron['Result'] = lebron['Result'].str.extract(r'([LW])')
lebron.rename(columns = {'Tm': 'Team'}, inplace=True)
lebron

,G,Date,Age,Team,Location,Opp,Result,GS,MP,FG,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Margin
0,1,2003-10-29,18-303,CLE,AWAY,SAC,L,1.0,42:50,12,...,6,9,4,0,2,3,25,24.7,-9.0,-14
1,2,2003-10-30,18-304,CLE,AWAY,PHO,L,1.0,40:21,8,...,12,8,1,0,7,1,21,14.7,-3.0,-9
2,3,2003-11-01,18-306,CLE,AWAY,POR,L,1.0,39:10,3,...,4,6,2,0,2,3,8,5.0,-21.0,-19
3,4,2003-11-05,18-310,CLE,HOME,DEN,L,1.0,41:06,3,...,11,7,2,3,2,1,7,11.2,-3.0,-4
4,5,2003-11-07,18-312,CLE,AWAY,IND,L,1.0,43:44,8,...,5,3,0,0,7,2,23,9.0,-7.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,51,2023-04-02,38-093,LAL,AWAY,HOU,W,1.0,29:21,8,...,10,11,0,1,1,1,18,19.4,23.0,+25
1417,52,2023-04-04,38-095,LAL,AWAY,UTA,W,1.0,38:28,14,...,5,6,1,1,5,2,37,25.3,-7.0,+2
1418,53,2023-04-05,38-096,LAL,AWAY,LAC,L,1.0,35:06,13,...,8,7,1,1,6,0,33,26.4,-10.0,-7
1419,54,2023-04-07,38-098,LAL,HOME,PHO,W,1.0,29:21,6,...,6,6,0,0,5,1,16,5.3,11.0,+14
1420,55,2023-04-09,38-100,LAL,HOME,UTA,W,1.0,33:13,13,...,6,6,1,1,2,0,36,29.8,20.0,+11

In [71]:
lebron.to_excel('lebron_james_regular_season_games_final.xlsx', sheet_name = 'Data')